/*  your css code here. If applicable */
#animal-photos{
	background:#444444;
	color:white;
	border-radius:1rem;
	padding:0.5rem
}
#animal-photos div{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	gap:1rem;
}
#animal-photos img{
	border-radius:1rem;
}